body {
    color: black;
    background-color: rgb(217, 233, 147);
    font-family:sans-serif; 
    font-weight:normal;


    a{
        color: black;
        }

        h4{
            color: rgb(1, 1, 36);
        }


        img{
            width: 20pc;
            height: 20pxS;
                display: block;
                margin-left: auto;
                margin-right: auto; 
            }

            ul h4{
                list-style-type: circle;
            }

            p {
                font: bold 20px/1.4 sans-serif;
                }

}